tabitha.css
h1{
font-family:helvetica;
font-size:50px;
color;purple;
text-align:centre;
font-style:indian;
font-weight:800;
}
body{
background-color:#violet;
float:left;
padding-left: 3px;
display block;
text-decoration: none;
text-align: center;
}
